body {
    font-family: Roboto;
    color: rgb(231, 231, 231);
}

header {
    background-color: rgb(118, 169, 128);
}

.container {
    background-color: rgb(254, 240, 207);
}

.hero-image {
    width: 500px;
    height: 500px;
    object-fit: contain;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: rgb(240, 240, 240);
}

ul {
    background: rgb(214, 206, 175);
    border-radius: 10px;
    width: 300px;
    display: inline-block;
}